<!DOCTYPE html>
<html lang="en">

<head>
    <title> Product View </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
     <link rel="stylesheet" href="/styles/css/addNewProduct.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
   	<!-- TOP HEADER -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="/">
					<img src="./images/transparent_logo.png" alt="">
				</a>
			</div>
			<div class="menu">
				<div class="menu-item hover">
					<a href="/tim-kiem">
						<img src="./images/searchActive.svg" alt="">
						<span>Tìm rao vặt</span>
					</a>
				</div>
				<div class="menu-item hover">
					<a href="#">
						<img src="./images/notificationActive.svg" alt="">
						<span>Thông báo</span>
					</a>
				</div>
				<div class="menu-item hover">
					<a href="#">
						<img src="./images/userActive.svg" alt="">
						<span>Tôi bán</span>
					</a>
				</div>
				<div class="menu-item hover more-info" id="more-info-menu">
					<a href="#">
						<img src="./images/moreActive.svg" alt="">
						<span>Thêm</span>
					</a>
					<div class="collasp-menu hide">
						<div class="signup">
							<a href="#" class="avatar"></a>
							<div class="float-left" style="margin-top: 10px; margin-left: 5px;"><a href="#">Đăng nhạp/Đăng ký</a></div>
							<div style="clear: both;"></div>
						</div>
						<div class="break-line"><hr></div>
						<div class="item">
							<a href="#">
								<img src="https://static.chotot.com.vn/storage/chotot-icons/svg/circle-heart.svg" alt="">
								<span>Tin đăng đã lưu</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src="https://static.chotot.com.vn/storage/chotot-icons/svg/circle-bookmark.svg" alt="">
								<span>Tìm kiếm đã lưu</span>
							</a>
						</div>
						<div class="break-line"><hr></div>
						<div class="item">
							<a href="#">
								<img src="https://static.chotot.com.vn/storage/chotot-icons/svg/circle-plus.svg" alt="">
								<span>Tạo cửa hàng/Chuyên trang</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src="https://static.chotot.com.vn/storage/chotot-icons/svg/circle-megaphone.svg" alt="">
								<span>Quảng cáo tốt</span>
							</a>
						</div>
						<div class="break-line"><hr></div>
						<div class="item" style="margin-bottom: 5px">
							<a href="#">
								<img src="https://static.chotot.com.vn/storage/chotot-icons/svg/float.svg" alt="">
								<span>Trợ giúp</span>
							</a>
						</div>
					</div>
				</div>
				<div class="post-item-button">
					<a href="/add-new-product" class="button-menu">
						Đăng tin
					</a>
				</div>
			</div>
		</div>

	</div>
	<!-- TOP HEADER -->

    <!-- BODY -->
    <div class="body-container">
        <div class="layout">
            <div class="heading">
                Add New Product
            </div>
            <form action="" class="form-group">
                <input type="text" placeholder="Nhập tên sản phẩm" id="title">
                <input type="text" placeholder="Nhập tên mô tả sản phẩm" id="description">
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Chọn danh mục
                        </button>
                        <div class="dropdown-menu" aria-labelledby="category">
                          <a class="dropdown-item" href="#" data-value="1">Xe cộ</a>
                          <a class="dropdown-item" href="#" data-value="2">Đồ điện tử</a>
                          <a class="dropdown-item" href="#" data-value="3">Nội ngoại thất</a>
                          <a class="dropdown-item" href="#" data-value="4">Thời Trang</a>
                          <a class="dropdown-item" href="#" data-value="5"> Mẹ và bé</a>
                          <a class="dropdown-item" href="#" data-value="6">Thú cưng</a>
                          <a class="dropdown-item" href="#" data-value="7">Việc làm</a>
                          <a class="dropdown-item" href="#" data-value="8">Dịch Vụ</a>
                        </div>
                      </div>
                <input type="text" placeholder="Nhập địa điểm" id="localSuburb">
                <input type="file" placeholder="Nhập địa điểm" id="fileUpload">
                <button id="submit">Submit</button>
                <img src="" alt="">
            </form>
        </div>
    </div>
    <!-- BODY -->
    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="link item">
                <h2 class="headline">Liên kết</h2>
                <ul class="social-link">
                    <li>
                        <a href="#">
                            <img class="icon" alt="Facebook" src="https://static.chotot.com.vn/storage/marketplace/common/fb.svg">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon" alt="Facebook" src="https://static.chotot.com.vn/storage/marketplace/common/gg.svg">
                            <span>Google+</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon" alt="Facebook" src="https://static.chotot.com.vn/storage/marketplace/common/youtube.svg">
                            <span>Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-store item">
                <h2 class="headline">Bản di động</h2>
                <a href="#">
                    <img alt="App Store" height="32" src="https://static.chotot.com.vn/storage/marketplace/ios-logo.svg">
                </a>
                <a href="#">
                    <img alt="Google Play" height="32" src="https://static.chotot.com.vn/storage/marketplace/gg-play.svg">
                </a>
            </div>
            <div class="support item">
                <h2 class="headline">Hỗ trợ khách hàng</h2>
                <ul class="">
                    <li class="">
                        <a class="" href="http://trogiup.chotot.com" target="_blank" rel="noopener noreferrer">Trung tâm trợ giúp</a>
                    </li>
                    <li class="">
                        <a class="" href="http://trogiup.chotot.com/mua-ban-an-toan" target="_blank" rel="noopener noreferrer">An toàn mua bán</a>
                    </li>
                    <li class="">
                        <a class="" href="http://trogiup.chotot.com/quy-dinh" target="_blank" rel="noopener noreferrer">Quy định cần biết</a>
                    </li>
                    <li class="">
                        <a class="" href="http://trogiup.chotot.com/lien-he" target="_blank" rel="noopener noreferrer">Liên hệ hỗ trợ</a>
                    </li>
                </ul>
            </div>
            <div class="about item">
                <h2 class="headline">Về Chotot.com</h2>
                <ul class="">
                    <li class="">
                        <a class="link" href="http://trogiup.chotot.com/quy-dinh/gioi-thieu-chotot-com/" target="_blank" rel="noopener noreferrer">Giới thiệu</a>
                    </li>
                    <li class="">
                        <a class="link" href="http://careers.chotot.com" target="_blank" rel="noopener noreferrer">Tuyển dụng</a>
                    </li>
                    <li class="">
                        <a class="link" href="http://truyenthong.chotot.com" target="_blank" rel="noopener noreferrer">Truyền thông</a>
                    </li>
                    <li class="">
                        <a class="link" href="https://chotot.com/kinhnghiem" target="_blank" rel="noopener noreferrer">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="certificate item">
                <h2 class="headline">Chứng nhận</h2>
                <a class="" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=33127">
                    <img alt="Certification" height="38" src="https://static.chotot.com.vn/storage/marketplace/cerfiticate.png">
                </a>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
</body>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAM22SUgsxPmyPx9G9wKbsABOY6u2CrWNo",
    authDomain: "australia-handbook.firebaseapp.com",
    databaseURL: "https://australia-handbook.firebaseio.com",
    projectId: "australia-handbook",
    storageBucket: "australia-handbook.appspot.com",
    messagingSenderId: "772324184653"
  };
  firebase.initializeApp(config);
</script>
<script src="../../vendor/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/screen/addNewProduct.js"></script>

</html>